// $home-bg = '../../assets/images/home/bg.jpg'
// $home-bg-fuzhu = '../../assets/images/common/bg.jpg'

// $look-bg = '../../assets/images/common/bg.jpg'
// // $look-middle-bg = '../../assets/images/card/middle-bg.png'
// $look-teach-bg = '../../assets/images/common/bg.jpg'
// $look-teach-bg-fuhzu = '../../assets/images/common/bg.jpg'

// $makeup-bg = '../../assets/images/common/bg.jpg'
// $makeup-try-bg = '../../assets/images/common/bg.jpg'

// $common-bg = '../../assets/images/common/bg.jpg'
$collect-bg = '../../assets/images/collect-info/bg.jpg'
// $common-bg-2 = '~_img/common/bg.jpg'

